table {
    margin-left:auto; 
    margin-right:auto;
}

table, th, td {
    border: 1px solid #aaa;
    border-collapse: collapse;
}

th, td {
    min-width: 75px;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    cursor: default;
    background-color: white;
}

td input, .checkbox-input {
    margin-top: 5px;
    width: 15px;
    height: 15px;
}

textarea {
    resize: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

textarea,
pre {
    -moz-tab-size : 4;
    -o-tab-size : 4;
    tab-size : 4;
}

fieldset {
    display: inline-block;
    vertical-align: top;
    min-width: 400px;
    border: none;
}

legend {
    font-size: 1.2em;
    font-weight: 700;
    display: block;
}

body {
    margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    /* no selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.header-content {
    margin-bottom: 30px;
}

.preset-options {
    margin-top: 15px;
}

.preset-option {
    margin-right: 10px;
    margin-top: 5px;
}

.output-content {
    margin-bottom: 30px;
}

.output-text {
    min-width: 800px;
    min-height: 250px;
    border-radius: 5px;
}

.output-controls {
    margin-top: 2px;
}

.output-control {
    margin-right: 15px;
}

.toggle-minify {
    margin-right: 5px;
}

.input-content {
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
}

.input-block {
    margin-bottom: 7px;
}

.input-label {
    width: 200px;
    display: inline-block;
    text-align: right;
    margin-right: 2px;
    vertical-align: top;
}

.has_tooltip {
    cursor: help;
}

.text-input {
    width: 100px;
}

.list-input {
    width: 190px;
}

.long-list-input, .long-text-input {
    padding: 5px;
    width: 225px;
    height: 75px;
}

.long-list-input,
.long-list-input::placeholder,
.long-text-input,
.long-text-input::placeholder {
    white-space: nowrap;
    overflow: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.dropdown-input {
    width: 150px;
}

.number-input {
    width: 50px;
}

.input-block .checkbox-input {
    margin-left: 3px;
}

.cbt-cell {
    cursor: pointer;
}

.cbt-cell .checkbox-input {
    cursor: pointer;
}

.nested-content {
    margin-left: 30px;
}

.nested-input-label {
    margin-top: 3px;
    font-weight: bold;
    float: left;
}

.nested-input-control {
    margin-left: 10px;
    margin-bottom: 5px;
}

.component {
    padding: 10px;
    margin-left: 20px;
}

.component-input {
    position: relative;
}

.delete-component {
    margin-left: 175px;
}